[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = MOODLE_401_STABLE
[submodule "moodle/theme/eguru"]
	path = moodle/theme/eguru
	url = https://github.com/ProjetoSophiaDev/eguru4.git
	branch = main
[submodule "moodle/mod/choicegroup"]
	path = moodle/mod/choicegroup
	url = https://github.com/ndunand/moodle-mod_choicegroup.git
	branch = master
[submodule "moodle/mod/studentquiz"]
	path = moodle/mod/studentquiz
	url = https://github.com/frankkoch/moodle-mod_studentquiz.git
	branch = main
[submodule "moodle/mod/quizgame"]
	path = moodle/mod/quizgame
	url = https://github.com/xow/moodle-mod_quizgame.git
	branch = master
[submodule "moodle/mod/vpl"]
	path = moodle/mod/vpl
	url = https://github.com/jcrodriguez-dis/moodle-mod_vpl.git
	branch = master
